{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<title>Clientes</title>
<style>
    thead, tr, th, td, h1{
        text-align: center;
    }
</style>
{% endblock %}

{% block body%}
    <div class="container-fluid">
        <h1>Clientes</h1>
        <a href="/crearcliente" class="btn btn-primary">Crear Cliente</a>
        <a href="/buscarcliente" class="btn btn-primary float-right">Modificar Cliente</a>
        <br><br>
        {% for message in get_flashed_messages(category_filter="success") %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter="danger") %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="row justify-content-center">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Fecha de Cumpleaños</th>
                        <th>Correo Electrónico</th>
                        <th>Celular</th>
                        <th>Rango de Edad</th>
                        <th>Tipo de Cliente</th>
                    </tr>
                </thead>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.0 }}</td>
                        <td>{{ cliente.1 }}</td>
                        <td>{{ cliente.2 }}</td>
                        <td>{{ cliente.3 }}</td>
                        <td>{{ cliente.4 }}</td>
                        <td>{{ cliente.5 }}</td>
                        <td>{{ cliente.6 }}</td>
                        {% for tipo in tipos %}
                        {% if cliente.7 == tipo.0 %}
                        <td>{{ tipo.1 }}</td>
                        {% endif %}
                        {% endfor %}
                        <td></td>
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}