{% extends "layout.html" %}

{% block head %}
<title>JuegoGafas</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
{% endblock %}

{% block body%}

<div class="panel-heading">
    <h2>Juegos en Gafas</h2>
</div>
<div class="panel-body">

    <form action="{{ url_for('crearjuegogafas') }}" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id">ID</label>
            <div class="col-sm-6">
                <select name="id" class="form-control custom-select">
                    <option>Serial Interno de las Gafas:</option>
                    {% for gafa in gafas %}
                    <option value="{{ gafa.6 }}">{{ gafa.6 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre del Juego</label>
            <div class="col-sm-6">
                <select name="nombre" class="form-control custom-select">
                    <option>Nombres de Juegos:</option>
                    {% for nombre in nombres%}
                    <option value="{{ nombre.0 }}">{{ nombre.5 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" name="submit" value="Crear Relación">
    </form>
    <a href="/juegosgafas" class="pull-right btn btn-primary">Back</a>
</div>

{% endblock %}