{% extends "layout.html" %}

{% block head %}
<title>Buscar Gafas</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<style>
    thead, tr, th, td, h1{
        text-align: center;
    }
</style>
{% endblock %}

{% block body%}
<div class="container-fluid">
    <h1>Juegos en Gafas</h1>
    {% for message in get_flashed_messages(category_filter="success") %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter="danger") %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <a href="/crearjuegogafas" class="btn btn-primary">Crear Relación</a>
    <br><br>
    <div class="row justify-content-center">
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th>Nombre del Juego</th>
                <th>Serial Interno Gafas</th>
            </tr>
            </thead>
            {% for gafa in gafas %}
            <tr>
                <td>{{ gafa.0 }}</td>
                <td>{{ gafa.1 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}