{% extends "layout.html" %}

{% block head %}
<title>Buscar Gafas</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
{% endblock %}

{% block body%}

<div class="panel-heading">
    <h2>Buscar Gafas</h2>
</div>
    <form action="{{ url_for('selectjuegogafa') }}" method="post">
        <div class="form-group">
            <select name="gafas" class="form-group custom-select">
                <option selected>Elija la gafas </option>
                {% for gafa in gafas %}
                    <option value="{{ gafa.0 }}">{{ gafa.0 }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">ir</button>

        </div>
    </form>
{% endblock %}