{% extends "layout.html" %}

{% block head %}
<title>Modificar Cliente</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<style>
    h1{
        text-align: center;
    }
</style>
{% endblock %}

{% block body%}

<a href="/buscarcliente" class="float-left btn btn-primary">Back</a>
<div class="panel-heading">
    <h1>Modificar Cliente</h1>
</div>
<div class="panel-body">
    <form action="{{ url_for('updatecliente') }}" method="post">
        {% for cliente in clientes %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id">ID</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="id" value="{{ cliente.0 }}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Nombres">Nombres</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="nombres" value="{{ cliente.1 }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Apellidos">Apellidos</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="apellidos" value="{{ cliente.2 }}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="FechaCu">Fecha Cumpleaños</label>
            <div class="col-sm-6">
                <input class="form-control" type="date" id="birthday" name="cumple" value="{{ cliente.3 }}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="mail">Correo Electrónico</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="correo" value="{{ cliente.4 }}" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="num">Número de Celular</label>
            <div class="col-sm-6">
                <input class="form-control" type="number" name="celular" value="{{ cliente.5 }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="rango" class="col-sm-2 col-form-label">Rango de Edad</label>
            <div class="col-sm-6">
                <div class="alert alert-warning">El cliente tiene un rango de edad de {{ cliente.6 }} años</div>
                <select name="rango" class="form-control custom-select">
                    <!--<option value="{{ cliente.6 }}">{{ cliente.6 }}</option>-->
                    <option>20 - 30</option>
                    <option>30 - 40</option>
                    <option>40 - 50</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="tipo" class="col-sm-2 col-form-label">Tipo de Cliente</label>
            <div class="col-sm-6">
                {% for tipoC in tipos %}
                {% if cliente.7 == tipoC.0 %}
                <div class="alert alert-warning">El tipo de cliente es {{ tipoC.1 }}</div>
                {% endif %}
                {% endfor %}
                <select name="tipocliente" class="form-group custom-select">
                {% for tipoC in tipos %}
                    <option value="{{ tipoC.0 }}">{{ tipoC.1 }}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        {% endfor %}
        <input type="submit" class="btn btn-primary" name="submit" value="Modificar cliente">
    </form>
    <hr>
</div>
<script>
    $(function(){
        $('#birthday').on('change', calcularEdad);
    });

    function calcularEdad() {

        fecha = $(this).val();
        var hoy = new Date();
        var cumpleanos = new Date(fecha);
        var edad = hoy.getFullYear() - cumpleanos.getFullYear();
        var m = hoy.getMonth() - cumpleanos.getMonth();

        if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
            edad--;
        }
        $('#age').val(edad);
    }
</script>

{% endblock %}